<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link href="/src/tailwind.css" rel="stylesheet">
</head>


<body class="bg-gray-900 text-white flex flex-col items-center">
    <h1 class="my-6 text-2xl">
        Tic Tac Toe
    </h1>
    <div class="flex flex-col text-2xl text-black" id="gamefield">
        <div class="flex">
            <div hx-target="#status" hx-post="/setfield" hx-vals='{"y": 0, "x": 0}' class="flex justify-center items-center hover:bg-gray-300 w-14 h-14 bg-white p-1 border-r-2 border-b-2 border-black">{{.f1}}</div>
            <div hx-target="#status" hx-post="/setfield" hx-vals='{"y": 0, "x": 1}' class="flex justify-center items-center hover:bg-gray-300 w-14 h-14 bg-white p-1 border-l-2 border-r-2 border-b-2 border-black">{{.f2}}</div>
            <div hx-target="#status" hx-post="/setfield" hx-vals='{"y": 0, "x": 2}' class="flex justify-center items-center hover:bg-gray-300 w-14 h-14 bg-white p-1 border-l-2 border-b-2 border-black">{{.f3}}</div>
        </div>
        <div class="flex">
            <div hx-target="#status" hx-post="/setfield" hx-vals='{"y": 1, "x": 0}' class="flex justify-center items-center hover:bg-gray-300 w-14 h-14 bg-white p-1 border-t-2 border-r-2 border-b-2 border-black">{{.f4}}</div>
            <div hx-target="#status" hx-post="/setfield" hx-vals='{"y": 1, "x": 1}' class="flex justify-center items-center hover:bg-gray-300 w-14 h-14 bg-white p-1 border-2 border-black">{{.f5}}</div>
            <div hx-target="#status" hx-post="/setfield" hx-vals='{"y": 1, "x": 2}' class="flex justify-center items-center hover:bg-gray-300 w-14 h-14 bg-white p-1 border-t-2 border-l-2 border-b-2 border-black">{{.f6}}</div>
        </div>
        <div class="flex">
            <div hx-target="#status" hx-post="/setfield" hx-vals='{"y": 2, "x": 0}' class="flex justify-center items-center hover:bg-gray-300 w-14 h-14 bg-white p-1 border-t-2 border-r-2 border-black">{{.f7}}</div>
            <div hx-target="#status" hx-post="/setfield" hx-vals='{"y": 2, "x": 1}' class="flex justify-center items-center hover:bg-gray-300 w-14 h-14 bg-white p-1 border-t-2 border-l-2 border-r-2 border-black">{{.f8}}</div>
            <div hx-target="#status" hx-post="/setfield" hx-vals='{"y": 2, "x": 2}' class="flex justify-center items-center hover:bg-gray-300 w-14 h-14 bg-white p-1 border-t-2 border-l-2 border-black">{{.f9}}</div>
        </div>
    </div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded" hx-post="/clearfield">clear</button>
    <div id="status"></div>
</body>

</html>
